<div class="row justify-content-center">
  <div class="col mx-auto">
    <%= content_tag :h2, t(".title"), class: "mt-2 text-center" %>
    
    <p>
      <%= link_to t(".new_badge"), new_admin_badge_path %>
    </p>

    <%= render 'shared/errors', resource: @badge if @badge %>

    <table class="table" style="margin: 0 auto">
      <thead>
        <tr>
          <th scope="col" class="sort-by-title pointer">
            <%= t(".name") %>
            <%= octicon 'arrow-up', class: 'text-success hide' %>
            <%= octicon 'arrow-down', class: 'text-success hide' %>
          </th>
          <th scope="col"><%= t(".file_name") %></th>
          <% if user_signed_in? %>
            <th scope="col"><%= t(".actions") %></th>
          <% end %>
        </tr>
      </thead>
      <tbody>
        <%= render @badges %>
      </tbody>
    </table>
  </div>
</div>
