<header>
  <h1><%= link_to 'Tricky Tests', root_path %></h1>
  <% unless auth_pages? %>  
    <% if user_signed_in? %>  
      <p class="nav user">Welcome, <b><%= current_user.first_name %></b> Guru | 
        <%= link_to 'Logout', destroy_user_session_path, method: :delete %>
      </p>
    <% else %>
      <p>
        <%= link_to 'Sign in', new_user_session_path %>
        <%= link_to 'Sign up', new_user_registration_path %>
      </p>
    <% end %>
  <% end %>
</header>
