<%= form_with model: [:admin, @test], local: true do |form| %>
  <%= render 'shared/errors', resource: @test %>

  <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">

  <p>
    <%= form.label :category %><br>
    <%= form.collection_select :category_id, Category.all, :id, :title, prompt: true %>
  </p>
  <p>
    <%= form.label :title %><br>
    <%= form.text_field :title, id: :test_title %>
  </p><br>

  <p>
    <%= form.label :level %><br>
    <%= form.collection_select :level, test_levels, :first, :last %>
  </p><br>

  <%= form.submit t("helpers.submit.submit") %>
<% end %>
