<tr>
  <td class="align-middle">
    <%= content_tag :span, test.title, class: 'test-title', data: { test_id: test.id } %>
    <%= render 'test_title_inline', test: test == @test ? @test :test %>
  </td>
  <td class="align-middle">
    <%= content_tag :span, test.test_time.strftime("%T"), class: 'test-time', data: { test_id: test.id } %>
    <%= render 'test_time_inline', test: test == @test ? @test :test %>
  </td>
  <td class="align-middle"><%= t("test_levels.#{test_level(test)}") %></td>

  <% if user_signed_in? %>
    <td class="align-middle"><%= test.questions.size %></td>
    <td class="align-middle">
      <%= link_to t(".show"), admin_test_path(test) %>
      <%= link_to t(".edit"), 
        edit_admin_test_path(test),
        data: { test_id: test.id },
        class: 'form-inline-link'
      %>
      <%= link_to t(".delete"),
                admin_test_path(test),
                method: :delete,
                data: { confirm: ".confirm" } %>
    </td>
  <% end %>
</tr>
