<div class="row justify-content-center">
  <div class="col mx-auto">
    <%= content_tag :h2, t(".primary_title"), class: "mt-2 text-center" %>
    
    <p>
      <%= link_to t(".new_test"), new_admin_test_path %>
    </p>

    <table style="margin: 0 auto">
      <tr>
        <th><%= t(".title") %></th>
        <th><%= t(".level") %></th>
        <% if user_signed_in? %>
          <th><%= t(".question_count") %></th>
          <th><%= t(".actions") %></th>
        <% end %>
      </tr>

    <%= render @tests %>

    </table>
  </div>
</div>
<div class="row justify-content-center">
  <div class="col mx-auto">
    <%= content_tag :h2, t(".secondary_title"), class: "mt-2 text-center" %>
    
    <table style="margin: 0 auto">
      <tr>
        <th><%= t(".gist_question") %></th>
        <th><%= t(".gist_url") %></th>
        <th><%= t(".gist_user") %></th>
      </tr>

    <%= render @user_gists %>

    </table>
  </div>
</div>
