<div class="row justify-content-center">
  <div class="col mx-auto">
    <%= content_tag :h2, t(".primary_title"), class: "mt-2 text-center" %>
    
    <p>
      <%= link_to t(".new_test"), new_admin_test_path %>
    </p>

    <%= render 'shared/errors', resource: @test if @test %>

    <table class="table" style="margin: 0 auto">
      <tr>
        <th class="sort-by-title pointer">
          <%= t(".title") %>
          <%= octicon 'arrow-up', class: 'text-success hide' %>
          <%= octicon 'arrow-down', class: 'text-success hide' %>
        </th>
        <th><%= t(".test_time") %></th>
        <th><%= t(".level") %></th>
        <% if user_signed_in? %>
          <th><%= t(".question_count") %></th>
          <th><%= t(".actions") %></th>
        <% end %>
      </tr>

    <%= render @tests %>

    </table>
  </div>
</div>
<div class="row justify-content-center">
  <div class="col mx-auto">
    <%= content_tag :h2, t(".secondary_title"), class: "mt-2 text-center" %>
    
    <table style="margin: 0 auto">
      <tr>
        <th><%= t(".gist_question") %></th>
        <th><%= t(".gist_url") %></th>
        <th><%= t(".gist_user") %></th>
      </tr>

    <%= render @user_gists %>

    </table>
  </div>
</div>
