<p>
  <%= link_to t(".new_test"), new_admin_test_path %>
</p>
<table>
  <tr>
    <th><%= t(".title") %></th>
    <th><%= t(".level") %></th>
    <% if user_signed_in? %>
      <th><%= t(".question_count") %></th>
      <th colspan="3"><%= t(".actions") %></th>
    <% end %>
  </tr>

  <%= render @tests %>

</table>
