<!DOCTYPE html>
<html>
  <head>
    <title>TestGuru</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
    <footer>
      <p>
        <%= current_year %>, Дмитрий Петров(Dade Niman)
      </p>
      <p>
      <%= github_url("dniman", "test_guru") %>
        - учебный проект в онлайн школе <a href="http://thinknetica.com/" target="_blank">Thinknetica</a>
      </p>
    </footer>
  </body>
</html>
